*.Rproj
*.html
*.jpg
*.pdf
*.icloud
*.xlsx
*.csv

*/.Rproj.user/
actuaryJobsMx/actuary-jobs-mx_cache/
actuaryJobsMx/actuary-jobs-mx_files/
actuaryJobsMx/report_cache/
actuaryJobsMx/report_files/
actuaryJobsMx/rsconnect/

imgrecTwitter/packrat/
.Rproj.user

jumex/
